/* MOBILE */

img,
.logo {
  width: 80px;
  border: 1px solid black;
}

.social-icon {
  font-size: 2.5rem;
}

.group-social-div {
  display: flex;
  justify-content: space-evenly;
}

.single-social-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-social-div p {
  margin-top: 0px;
}

.single-community-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.single-community-div a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-community-div a img {
  width: 45%;
}

#back-to-top {
  display: none;
}

#tablet-desktop-header {
  display: none;
}

#events {
  background-color: var(--background);
  padding-top: 10px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 40px;
}

#meetups {
  margin-bottom: 20%;
}

#connect {
  background-color: var(--accent);
  padding-top: 10px;
  padding-left: 5%;
  padding-right: 5%;
}

#email-us {
  margin-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 40px;
}

#follow-us,
#slack {
  margin-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 40px;
}

#other-communities {
  background-color: var(--accent);
  padding-top: 40px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 40px;
}

/* TABLET */
@media only screen and (min-width: 768px) {
  img {
    width: 90px;
  }

  h1 {
    font-size: 2rem;
  }

  .left-div {
    grid-column: left / 2;
    grid-row: 1 / 2;
  }

  .right-div {
    grid-column: right / 3;
    grid-row: 1 / 2;
    margin-top: 15%;
  }

  .nav-group-right {
    display: flex;
    flex-flow: column wrap;
    margin-top: 25%;
    margin-left: 15%;
  }

  .nav-item-div {
    padding: 0px 15px;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 0%;
  }

  #back-to-top {
    font-size: 0.75rem;
    padding: 10px;
  }

  #mobile-header {
    display: none;
  }

  #tablet-desktop-header {
    margin-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 10%;
    display: grid;
    grid-template-columns: [left] 1fr [right] 1fr;
    grid-template-rows: 1fr;
  }

  #events,
  #follow-us,
  #email-us,
  #slack {
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 5%;
  }

  #connect,
  #other-communities {
    margin-top: 0;
  }

  #meetups {
    display: grid;
    grid-template-columns: [left] 1fr [right] 2fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    margin: 0;
  }

  #meetup-1st-p {
    grid-column: right / 3;
    grid-row: 2 / 3;
  }

  #meetup-button {
    grid-column: right / 3;
    grid-row: 3 / 4;
  }

  #submit-a-talk {
    display: grid;
    grid-template-columns: [left] 1fr [right] 2fr;
    grid-template-rows: 0.5fr 0.5fr 1fr 0.5fr 0.5fr;
  }

  #submit-talk-button {
    grid-column: right / 3;
    grid-row: 5 / 6;
  }

  #submit-talk-1st-p {
    grid-column: right / 3;
    grid-row: 2 / 3;
    align-self: end;
  }

  #submit-talk-2nd-p {
    grid-column: right / 3;
    grid-row: 4 / 5;
    align-self: start;
  }

  #other-communities {
    display: grid;
    grid-template-columns: [left] 1fr [right] 2fr;
    grid-template-rows: 0.125fr 0.25fr 1fr;
  }

  #other-communities-1st-p {
    grid-column: right / 3;
    grid-row: 2 / 3;
    align-self: start;
  }

  .communities-group-div {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  #code-for-baltimore-img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: center;
  }

  #code-for-baltimore-div {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  #DC-tech-img {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-self: center;
    margin-top: 30px;
  }

  #DC-tech-div {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: center;
  }

  #technicaly-img {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    align-self: center;
  }

  #technicaly-div {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .h3-icon {
    grid-column: left / 2;
    grid-row: 2 / 3;
    justify-self: center;
    font-size: 6rem;
    align-self: start;
  }

  h3 {
    grid-column: right / 3;
    grid-row: 1 / 2;
    align-self: end;
    margin-bottom: 0;
  }

  ul {
    grid-column: right / 3;
    grid-row: 3 / 4;
    align-self: start;
  }
}

/* DESKTOP */
@media only screen and (min-width: 1024px) {
  img {
    width: 90px;
  }

  p {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  ul li {
    font-size: 1.5rem;
  }

  input,
  textarea {
    font-size: 1.5rem;
  }

  header {
    padding-left: 20%;
    padding-right: 20%;
  }

  form .black-button {
    font-size: 1.5rem;
  }

  .nav-item-div a {
    font-size: 1.5rem;
  }

  .button-div a {
    font-size: 1.5rem;
    padding: 3% 6%;
  }

  .h3-icon {
    font-size: 7rem;
  }

  .right-div {
    margin-top: 10%;
  }

  #back-to-top {
    font-size: 1.25rem;
    padding: 15px;
  }

  #events,
  #connect,
  #follow-us,
  #email-us,
  #other-communities,
  #slack {
    padding-left: 20%;
    padding-right: 20%;
  }
}
