/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* VARIABLES */
:root {
    --heading-font: 'Changa', sans-serif;
    --para-font: 'Poppins', sans-serif;
    --background: #f5e897;
    --text: #000000;
    --button-text: #ffffff;
    --accent: #dbdbdb;
}

/* GENERAL STYLES */

html body {
    margin: 0;
}

header {
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 10%;
}

h1 {
    font-family: var(--heading-font);
    font-weight: 800;
    color: var(--text);
}

h2 {
    font-family: var(--heading-font);
    font-weight: 600;
    color: var(--text);
    margin: 0;
}

h3 {
    font-family: var(--para-font);
    font-weight: 500;
    color: var(--text);
    text-align: left;
}

h4 {
    font-family: var(--para-font);
    font-weight: 500;
    color: var(--text);
    text-align: left;
    margin: 0;
}

p {
    font-family: var(--para-font);
    font-weight: 300;
    color: var(--text);
    text-align: left;
}

ul li {
    font-family: var(--para-font);
    font-weight: 300;
    color: var(--text);
}

a {
    color: var(--text);
    font-family: var(--para-font);
}

img {
    width: 150px;
}

hr {
    color: var(--accent);
    border: 1px solid var(--accent);
    margin-bottom: 10%;
}

/* UTILITIES */

.centered-div {
    text-align: center;
    width: 100%;
    margin: 10% 0 0 0;
}

.nav-item-div {
    text-align: center;
    margin: 5% 5%;
    display: flex;
}

.black-button {
    font-family: var(--para-font);
    text-decoration: none;
    color: var(--button-text);
    background-color: var(--text);
    border: 3px solid var(--text);
    padding: 15px 20px;
    border-radius: 5px;
    flex-grow: 1;
}

.black-button:hover {
    color: var(--text);
    background-color: var(--background);
    border: 3px solid var(--text);
}

.button-div {
    margin: 7% 0;
}

#back-to-top {
    display: none; 
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
}

.h3-icon {
    font-size: 2.5rem;
}

.no-underline {
    text-decoration: none;
}

/* FORMS */
form label,
input,
textarea {
    font-family: var(--para-font);
    margin-top: 10px;
}

input,
textarea {
    margin-bottom: 20px;
    padding: 2%;
    width: 95%;
}

textarea {
    height: 100px;
}

form .black-button {
    font-size: 1rem;
    width: 30%;
}

/* FOOTER */
footer {
    background-color: var(--text);
    width: 100%;
    height: 100%;
    padding: 25px 0px 25px 0px;
}

footer p {
    margin: 0;
    text-align: center;
    color: var(--background);
}

footer p a {
    color: var(--background);
}

footer a i {
    margin-right: 2%;
}
